/* 
	TABLE OF CONTENTS 

	1. Sass Variables
	2. Site-wide styles
	3. Header and Navigation styles
	4. Footer styles
	5. Sidebar styles
	6. Front Page styles
	7. Index feed styles
	8. Single styles
	9. Page styles
	10. Directory styles
*/

/* 
	1. Sass variables 
*/

/* Fonts */
$heading-stack: "Baskerville", serif;
$body-stack: "Gotham", sans-serif;

/* Colours */
$black: #252525;
$off-white: #f1f2f2;
$blue: #4b92cb;

/* Theme specific variables */
$image-border: solid 10px $black;
$gradient-bottom: linear-gradient(rgba(37,38,38,0), rgba(37,38,38,0.5));
$gradient-top: linear-gradient(rgba(37,38,38,0.5), rgba(37,38,38,0));

/* 
	2. Site-wide styles
*/

/*Typography*/

body {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	margin-bottom: 1rem;
	color: $black;
}

h1, h2, h3 {
	font-family: $heading-stack;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2em;
}

h4, h5, h6, p {
	font-family: $body-stack;
	line-height: 1.4em; 
}