/* 
	TABLE OF CONTENTS 

	1. Sass Variables
	2. Site-wide styles
	3. Header and Navigation styles
	4. Footer styles
	5. Sidebar styles
	6. Front Page styles
	7. Index feed styles
	8. Single styles
	9. Page styles
	10. Directory styles
*/

/* 
	1. Sass variables 
*/

/* Fonts */
$heading-stack: 'Baskerville', 'Libre Baskerville', serif;
$body-stack: 'Montserrat', sans-serif;

/* Colours */
$black: #252525;
$dark-black: #141515;
$off-white: #f1f2f2;
$blue: #4b92cb;
$grey: #a5a8aa;
$red: #bf1c31;

/* Theme specific variables */
$image-border: solid 10px $black;
$gradient-bottom: linear-gradient(rgba(37,38,38,0), rgba(37,38,38,0.5));
$gradient-top: linear-gradient(rgba(37,38,38,0.5), rgba(37,38,38,0));

/* 
	2. Site-wide styles
*/

/*Typography*/

body {
	font-size: 14px;
	font-family: $body-stack;
	font-weight: 300;
	color: $black;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	color: $black;
}

h1, h2, h3 {
	font-family: $heading-stack;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 1rem;
	line-height: 1em;
	font-weight: bold;
}

h4, h5, h6 {
	font-family: $body-stack;
	font-weight: bold;
	line-height: 1.3em; 
	margin-bottom: 0.5rem;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
}

h5 /* Paragraph subtitles */{
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}

h6 /* Subtitles and dates */ {
	color: $grey;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8em;
}

p {
	font-weight: 300;
	line-height: 1.4rem;
	margin-bottom: 1rem;
}

/* Buttons and Links */

button, .link-button {
	-webkit-appearance: none;
	background-color: $black;
	border: 5px solid $black;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	font-family: $body-stack;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 0.25rem 0.5rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.15s ease-in-out all;

	&:hover {
		background-color: white;
		color: $black;
	}
}

a {
	font-weight: 500;
	transition: 0.15s ease-in-out color;
	color: inherit;

	&:hover {
		color: $blue;
	}
}

/* 
	3. Header / Navigation styles
*/

/* Mobile header */
.main-header {
	background-color: $black;
	padding: 1rem;
	max-height: 57px;
}

/* Trading hours */
.clock-icon i {
	color: white;
	font-size: 1.6em;
	vertical-align: middle;
	line-height: 1em;
}

.trading-hours-popup {
	position: absolute;
	top: 57px;
	left: -440px;
	max-width: 100%;
	width: 440px;
	color: white;
	background-color: $black;
	border: 1px solid $dark-black;
	border-left: none;
	border-right: none;
	transition: left 0.3s ease-in-out;

	.trading-hours-copy {
		position: relative;

		.close {
			position: absolute;
			top: 0;
			right: 0;
			background-color: $dark-black;
			line-height: 1.5rem;
			width: 1.5rem;
			text-align: center;
			color: white;
		}

		h3 {
			padding: 2rem 2rem 0 2rem;
			color: white;
		}

		.opening-times-table {
			padding: 0 2rem 2rem 2rem;

			td {
				padding: 0.5rem 1rem 0 0;
			}
		}

		p {
			padding: 0 2rem 1rem 2rem;
			color: white;
		}
	}

}

.trading-hours-popup.open {
	left: 0;
}

/* Logo */
.logo-container {
	text-align: center;

	img {
		vertical-align: middle;
		max-width: 200px;
	}
}

/* Hamburger Menu */
#hamburger-menu {
	width: 26px;
	height: 25px;
	position: relative;
	right: 0;
	float: right;
	margin: 0;
	transform: rotate(0deg);
	transition: .15s ease-in-out;
	cursor: pointer;
}

#hamburger-menu span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #f9f9f9;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .15s ease-in-out;
}
#hamburger-menu span:nth-child(1) {
	top: 0px;
	width: 80%;
	right: 0;
	left: 20%;
}
#hamburger-menu span:nth-child(2), #hamburger-menu span:nth-child(3) {
	top: 9px;
}
#hamburger-menu span:nth-child(4) {
	top: 18px;
}
#hamburger-menu.open span:nth-child(1) {
	top: 9px;
	width: 0%;
	left: 50%;
}
#hamburger-menu.open span:nth-child(2) {
	transform: rotate(45deg);
}
#hamburger-menu.open span:nth-child(3) {
	transform: rotate(-45deg);
}
#hamburger-menu.open span:nth-child(4) {
	top: 9px;
	width: 0%;
	left: 50%;
}

/* Main Navigation */
.main-navigation {
	position: absolute;
	top: 57px;
	left: 0;
	min-height: 100%;
	min-height: 100vh;
	background-color: $black;
	width: 100%;
	border: 1px solid $dark-black;
	border-left: none;
	border-right: none;
	opacity: 0;
	visibility: hidden;
	transition: 0.15s ease-in-out all;

	ul {
		padding: 2rem 0 0 0;
		margin: 0;
	}

	ul li {
		width: 100%;
		text-align: center;
		
		a{
			font-size: 1.2em;
			font-weight: 700;
			color: white;
			width: 100%;
			display: inline-block;
			padding: 0.75rem 0;
			text-decoration: none;
			text-transform: uppercase;
		}

		.inline-icon {
			padding-left: 0.5rem;
		}

		ul {
			padding-top: 0;
			max-height: 0;
			visibility: hidden;
			background-color: $off-white;
			transition: all 0.3s ease-in-out;

			li {

				a {
					color: $black;
					font-weight: 300;

				}
			}
		}

		ul.active {
			visibility: visible;
			max-height: 10rem;
		}
	}
}

.main-navigation.active {
	visibility: visible;
	opacity: 1;
}
